@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
.btn-gradient {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: 0;
  color: #FFF;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #9356DC;
  width: 14em;
  height: 2.8em;
  text-align: center;
  margin: 1em;
  font-size: inherit;
}
.btn-gradient:hover {
  background-image: radial-gradient(circle, #ff93e1 0%, #8641d8 100%);
}

.btn-options {
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 4.2em;
  width: 24em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn-options::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: #e9ddf8;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 200ms ease-in;
}
.btn-options:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.fa-mobile-alt {
  background: #000;
  transform: scaleX(0);
  transition: transform 200ms ease-in;
}

.btn-new {
  border: 1px solid #99E2D0;
  color: #276656;
  padding: 6px 12px;
  border-radius: 2px;
  background: #99E2D0;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.btn-simple {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 8vh;
  margin-bottom: 1em;
}
.btn-simple h3 {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  line-height: 1.4em;
  margin-left: 0.8em;
}
.btn-simple h6 {
  font-family: "Roboto Light", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: #000;
  line-height: 1.4em;
  margin-left: 0.8em;
}
.btn-simple:hover .check {
  transform: scale(1);
}

footer {
  background-color: #000;
  color: #FFF;
  display: inline-block;
  width: 100%;
  height: 24vh;
}
footer h1 {
  background-color: #000;
  color: #FFF;
  margin-left: 0.6em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-size: 1.3em;
  font-family: "Shrikhand";
}

ul {
  background-color: #000;
  color: #FFF;
  padding: 0;
  margin-left: 0.6em;
}
ul li {
  display: block;
}
ul li a {
  font-size: 1em;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
  color: #FFF;
  text-decoration: none;
  list-style: none;
  line-height: 1.6rem;
}

header {
  height: 8vh;
  width: 99%;
  display: inline-flex;
  align-items: baseline;
  background-color: #FFF;
}
header img {
  display: block;
  margin: auto;
  text-align: center;
  width: 10em;
  height: 2em;
}

.map {
  background-color: #d6d3d3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 100%;
}

.map p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  margin-left: 8px;
}

.restaurant-discovery {
  background-color: #f4f5f7;
  display: inline-block;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
.restaurant-discovery h1 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  display: inline-block;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}
.restaurant-discovery p {
  font-family: "Roboto Light", sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #000;
  display: inline-block;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.btn-gradient {
  text-align: center;
}

.options h1 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  margin-left: 0.6em;
}

.options-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 50px;
  color: #FFF;
  margin: 1rem 0rem 1rem -0.5rem;
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  text-align: center;
}
.circle p {
  display: inline;
  text-align: center;
  width: 0.5rem;
  height: 0.5rem;
}

.info {
  display: inline-flex;
  align-items: center;
  margin: auto;
}
.info p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #000;
}

.fa-mobile-alt {
  margin-right: 1em;
}

.fa-list-ul {
  margin-right: 1em;
}

.fa-store {
  margin-right: 1em;
}

.restaurants {
  background-color: #f4f5f7;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.restaurants h1 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  margin-left: 0.6em;
}

.cards {
  width: 98%;
}

.restaurant-card {
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 1rem 0.6rem 1rem 0.6rem;
}
.restaurant-card a {
  text-decoration: none;
}

.img-container {
  position: relative;
  width: 100%;
}
.img-container img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.card-info {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 8vh;
  border-radius: 0px 0px 10px 10px;
}

.restaurant-name {
  width: 70%;
  height: 8vh;
  margin-left: 0.6rem;
}
.restaurant-name h2 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000;
  margin-top: 4px;
  margin-bottom: 0px;
}
.restaurant-name p {
  font-family: "Roboto Light", sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #000;
  margin-top: 4px;
  margin-top: 4px;
  margin-bottom: 0px;
  color: #000;
}

#purple-heart {
  color: #000;
  cursor: pointer;
  background: #FFF;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 1;
}
#purple-heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: radial-gradient(circle, #ff93e1 0%, #782cd3 100%);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 200ms ease-in;
}
#purple-heart:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.load {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.load__bar {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ld-bar 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.load__bar--1 {
  animation-delay: -0.45s;
}

.load__bar--2 {
  animation-delay: -0.3s;
}

.load__bar--3 {
  animation-delay: -0.15s;
}

@keyframes ls-bar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --surface-color:$colour-grey-discovery;
}

* {
  padding: 0;
  margin: 0;
}

i.fas.fa-arrow-left {
  display: inline-block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.8em;
}

.restaurant-menu {
  background-color: #f4f5f7;
  box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

.top {
  background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center/cover;
  width: 100%;
  height: 30vh;
}

.menu-card {
  background-color: #f4f5f7;
  border-radius: 24px 24px 0px 0px;
  padding-top: 1.5rem;
  width: 100%;
  margin-top: -3rem;
}

.title-heart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 0.8em;
  margin-right: 0.6em;
}
.title-heart h1 {
  font-family: "Shrikhand";
  font-size: 1.8rem;
  color: #000;
  margin-left: 0.8em;
}

#big-heart {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
}

.dish-buttons {
  display: inline-block;
  margin: 0.8em;
  width: 95%;
}

.block-dishes {
  width: 95%;
  margin: auto;
}
.block-dishes h4 {
  font-family: "Roboto Light", sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #000;
  margin-left: 0.8em;
  text-transform: uppercase;
  position: relative;
  line-height: 2rem;
}
.block-dishes h4::after {
  content: "";
  height: 4px;
  width: 10%;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price {
  display: inline-flex;
  align-items: center;
  margin-right: 0.8em;
}
.price p {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  line-height: 1.4em;
}

.fa-check-circle {
  width: 1em;
  height: 1em;
  background-color: #FFF;
  color: #99E2D0;
}

.check {
  background-color: #99E2D0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 8vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.check:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}

@keyframes delay {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.batch {
  animation: delay 1000ms 150ms;
}
.batch--1 {
  animation-delay: 250ms;
}
.batch--2 {
  animation-delay: 500ms;
}
.batch--3 {
  animation-delay: 750ms;
}

/*# sourceMappingURL=main.css.map */
