header {
    height: 8vh;
    width: 99%;
    display: inline-flex;
    align-items: baseline;
    background-color: $colour-white;
    img {
    display: block;
    margin: auto;
    text-align: center;
    width: 10em;
    height: 2em;
    }
}    