@import "../utils/variables";

.btn-gradient {
    background-image: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    border: 0;
    color: $colour-white;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid $colour-primary;
    width: 14em;
    height: 2.8em;
    text-align: center;
    margin: 1em;
    font-size: inherit;

    &:hover {
        background-image: linear-gradient(to bottom, lighten($colour-secondary, 5), lighten($colour-primary, 10));
        border: 1px solid lighten($colour-primary, 10);
    }
}

.btn-options {
    background-color: $colour-grey-discovery;
    border: 1px solid $colour-grey-discovery;
    border-radius: 18px;
    box-shadow: $box-shadow;
    height: 4.2em;
    width: 20em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &::after {
        content: "";
        border: 1px solid lighten($colour-primary, 32);
        border-radius: 18px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: lighten($colour-primary, 32);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: top;
        transition: transform 200ms ease-in;
    }
    &:hover {
        &::after{
           transform: scaleX(1);
           transform-origin: bottom;
        }
    &:hover .purple-icon {
        color: $colour-primary;
        opacity: 1;
    }    
    }
}



.btn-new {
    border: 1px solid $colour-tertiary;
    color: $colour-green-new;
    padding: 6px 12px;
    border-radius: 2px;
    background: $colour-tertiary;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.btn-simple {
    background-color: $colour-white;
    border: 1px solid $colour-white;
    border-radius: 12px;
    box-shadow: $box-shadow;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 9vh;
    margin-bottom: 1em;
    text-decoration: none;
        &:hover .check {
            transform: scale(1);
            margin-right: 0;
    }
        &:hover h6 {
            text-overflow: ellipsis;
        }  
}    




