@import "../utils/variables";

.btn-gradient {
    background-color: $colour-primary;
    color: $colour-white;
    border-radius: 50px;
    border: 1px solid $colour-primary;
    width: 14em;
    height: 2.8em;
    text-align: center;
    margin: 1em;
    font-size: inherit;
}

.btn-options {
    background-color: $colour-grey-discovery;
    border: 1px solid $colour-grey-discovery;
    border-radius: 18px;
    box-shadow: $box-shadow;
    height: 4.2em;
    width: 24em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-options-purple {
    background-color: $colour-btn-purple;
    border: 1px solid $colour-btn-purple;
    border-radius: 18px;
    box-shadow: $box-shadow;
    height: 4.2em;
    width: 24em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-new {
    border: 1px solid $colour-tertiary;
    color: $colour-green-new;
    padding: 6px 12px;
    border-radius: 2px;
    background: $colour-tertiary;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.btn-simple {
    background-color: $colour-white;
    border: 1px solid $colour-white;
    border-radius: 12px;
    box-shadow: $box-shadow;
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 8vh;
    margin-bottom: 1em;
    
}

