@import "../utils/variables";

.btn-gradient {
    background-color: $colour-primary;
    color: $colour-white;
    border-radius: 50px;
    border: 1px solid $colour-primary;
    width: 14em;
    height: 2.8em;
    text-align: center;
    margin: 1em;
    font-size: inherit;
}

.btn-options {
    background-color: $colour-grey-discovery;
    border: 1px solid $colour-grey-discovery;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 8px 24px;
    height: 4.2em;
    width: 24em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-options-purple {
    background-color: $colour-btn-purple;
    border: 1px solid $colour-btn-purple;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 8px 24px;
    height: 4.2em;
    width: 24em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}