@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap');


$roboto-thin: 'Roboto Thin', sans-serif;
$roboto-light: 'Roboto Light', sans-serif;
$roboto-regular: 'Roboto Regular', sans-serif;
$roboto-medium: 'Roboto Medium', sans-serif;
$shrikhand: 'Shrikhand';

$h1-font-size: 1.3em;
$h2-font-size: 1.2em;
$p-font-size:1em;


