@import "../utils/mixins";
@import "../utils/variables";
@import "../base/typography";

.map {
    background-color: $colour-grey-map;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
}

.map p {
    @include p-normal;
    margin-left: 8px;
}

.restaurant-discovery {
    background-color: $colour-grey-discovery;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    h1 {
        @include title-h1;
        @include inline-block;
        margin-top: 0.4em;
        margin-bottom: 0.2em;
    }
    p {
        @include p-thin;
        @include inline-block;
        margin-top: 0.2em;
        margin-bottom: 0.4em;
    }
}

.btn-gradient {
    text-align: center;
}

.options {
    h1 {
        @include title-h1;
        margin-left: $margin-home-page;
    }
}

.options-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 1px solid $colour-primary;
    background-color: $colour-primary;
    border-radius: 50px;
    color: $colour-white;
    margin: 1rem 0rem 1rem -0.5rem;
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    text-align: center;
    p {
        display: inline;
        text-align: center;
        width: 0.5rem;
        height: 0.5rem;
    }
}

.info {
    display: inline-flex;
    align-items: center;
    margin: auto;
    p {
        @include p-normal;
    }
}

.fa-mobile-alt {
    margin-right: 1em;
}
.fa-list-ul {
    margin-right: 1em;
}

.fa-store {
    margin-right: 1em;
}

.restaurants {
    background-color: $colour-grey-discovery;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
        @include title-h1;
        margin-left: $margin-home-page;
    }
}

.cards {
    width: 98%;
}

.restaurant-card {
    width: auto;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 1rem 0.6rem 1rem 0.6rem;
    a { 
        text-decoration: none;
    }
}
.img-container {
    position: relative;
    width: 100%;
    img {
        border-radius: $border-radius-card;
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
}


.card-info {
    background-color: $colour-white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 8vh;
    border-radius: 0px 0px 10px 10px;
}

.restaurant-name {
    width: 70%;
    height: 8vh;
    margin-left: 0.6rem;
    h2 {
        @include title-h2;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    p {
        @include p-thin;
        margin-top: 4px;
        margin-top: 4px;
        margin-bottom: 0px;
        color: $colour-black;
    }
}

.hover-heart:hover .purple-heart{
    transform: scale(1);
    transition: 0.5s;
}
.purple-heart {
    background: radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-primary, 10) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}
i.far.fa-heart.fa-stack-1x {
    border: $colour-black;
}

/*#purple-heart {
    color: $colour-black;
    cursor: pointer;
    background: $colour-white;
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background: radial-gradient(circle, lighten($colour-secondary, 5) 0%, darken($colour-primary, 10) 100%);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: top;
        transition: transform 200ms ease-in;
    }

    &:hover {
        &::after{
           transform: scaleX(1);
           transform-origin: bottom;
        }
    }
}*/

//*Loader//

$cd-bars: $colour-primary;
$size: 3vh;
$num-ball: 3;
$anim-dur: 500ms;
$anim-delay: $anim-dur / $num-ball;

.load {
    display: flex;
    justify-content: space-evenly;
    &__ball {
        background-color: $cd-bars;
        height: 100%;
        width: $size;
        animation: grow $anim-dur infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
}


.load__ball {
    animation: grow $anim-dur infinite;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    @for $i from 1 through $num-ball {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
    }
}

@keyframes grow {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
