@import "../utils/variables";
@import "../base/typography";

$btn-shadow-size: .95rem;
$box-shadow-colour: rgba(0,0,0,0.2);

@mixin btn-simple-box-shadow ($colour:$box-shadow-colour) {
    box-shadow: 0 0 $btn-shadow-size $colour; 
}

@mixin footer {
    background-color: $colour-black;
    color: $colour-white;
    display:inline-block;
    width: 100%;
    height: 24vh;
}

@mixin footer--h1 {
    background-color: $colour-black;
    color: $colour-white;
    margin-left: $margin-home-page;
    margin-bottom: $margin-left;
    margin-top: $margin-left;
    font-size: $h1-font-size;
    font-family: 'Shrikhand';
}
@mixin footer-list {
    background-color: $colour-black;
    color: $colour-white;
    padding: 0;
    margin-left: $margin-home-page;  
}

@mixin li {
    font-size: $p-font-size;
    font-family: $roboto-light;
    font-weight: 300;
    color: $colour-white;
    text-decoration: none;
    list-style: none;
    line-height: 1.6rem;
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin btn-plat ($text, $background) {
    background: $background;
    border-radius: 5px;
    color: $text;
    padding: 0 8px;
    text-decoration: none;
}

@mixin header {
    text-transform: uppercase;
    color: $colour-black; 
    font-family: $roboto-thin;
    font-size: $p-font-size;
    font-weight: lighter;
    border-bottom: 3px solid $colour-tertiary;
}

@mixin shrikhand {
    font-family: 'Shrikhand';
    font-size: 1.8rem;
    color: $colour-black;
    margin-left: 0.8em;
}

@mixin title-h2-bold {
    font-family: $roboto-medium;
    font-size: $h1-font-size;
    font-weight: bold;
    color: $colour-black;
}

@mixin title-h2 {
    font-family: $roboto-medium;
    font-size: $p-font-size;
    font-weight: bold;
    color: $colour-black;
}

@mixin title-h3 {
    font-family: $roboto-regular;
    font-size: $h2-font-size;
    font-weight: bold;
    color: $colour-black;
    line-height: 1.4em;
}

@mixin title-h4 {
    font-family: $roboto-light;
    font-size: $p-font-size;
    font-weight: 200;
    color: $colour-black;
}

@mixin title-h6 {
    font-family: $roboto-light;
    font-size: 1.2em;
    font-weight: 200;
    color: $colour-black;
    line-height: 1.4em;
}

@mixin p-normal {
    font-family: $roboto-regular;
    font-size: $p-font-size;
    font-weight: 500;
    color: $colour-black;
}

@mixin p-thin {
    font-family: $roboto-light;
    font-size: $p-font-size;
    font-weight: 200;
    color: $colour-black;
}

@mixin inline-block {
    display: inline-block;   
    text-align: center; 
}


//* Media-queries *//

$breakpoint-small: 600px;
$breakpoint-large: 960px;


@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
    @if $size == 'small' {
      @media screen and ($type + -width: $breakpoint-small) {
          @content;
      }
    }
    @else if $size == 'large' {
      @media screen and ($type + -width: $breakpoint-large) {
          @content;
      }
    }
}    

