$colour-primary: #9356DC ;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white:#FFF;
$colour-black:#000;
$colour-grey-map:#d6d3d3;
$colour-grey-discovery: #f4f5f7;
$margin-home-page: 0.6em;
$colour-btn-purple: #e5d9f3;
$colour-green-new: #276656;
$border-radius-card: 10px 10px 0px 0px;
$box-shadow: 0 0 15px rgba(0,0,0,0.2);
